//Color Variables
$proimary-color:#1e72bc;
$secondary-color:#0aceb1;
$text-color:#333333;

//Box Shadow
$box-shadow:0 8px 6px -px #999999;

//Media Screen
$screen-sm-min:576px;
$screen-md-min:768px;
$screen-lg-min:800px;

//Container Width
$container-width:1200px;